.mir-info {
  &__about {
    min-height: 348px;
    padding: 1rem 0;

    &__text {
      padding-right: 100px;
      h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60.95px;
        padding-top: 6rem;
        color: #323230;
      }
      p {
        padding-top: 40px;
        font-size: 24px;
        font-weight: 300;
        line-height: 29.26px;
        color: #323230;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__trust {
    background: url("../images/about/trust-bg.png") no-repeat;
    min-height: 489px;
    width: 100%;

    &__title {
      h3 {
        font-size: 50px;
        color: $white;
        font-weight: 600;
        text-align: center;
        line-height: 26px;
        padding: 50px 0;
      }
    }

    &__slide {
      &__indicator {
        li {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin: 0 15px;
          background-color: white;
          opacity: 1;
          color: orange;
        }
      }
      ol {
        li.active {
          background-color: white;
        }
      }

      &__item {
        &__value {
          background: $white;
          width: 100%;
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  padding-bottom: 40px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.swiper-slide {
  margin-top: 71px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  margin-bottom: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #db925e;
}
// Responsive Query

@media (min-width: 144px) {
  .mir-info {
    &__trust {
      &__title {
        h3 {
          font-size: 29px;
          color: $white;
          font-weight: 600;
          text-align: center;
          line-height: 26px;
          padding: 50px 0;
        }
      }
    }
  }
}

@media (min-width: 540px) {
  .mir-info {
    &__trust {
      &__title {
        h3 {
          font-size: 39px;
          color: $white;
          font-weight: 600;
          text-align: center;
          line-height: 26px;
          padding: 50px 0;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .swiper-pagination {
    margin-bottom: 30px;
  }
  .swiper {
    padding-bottom: 0;
  }
}
