// declaration of variables
$mir-mobile-breakpoint: "(min-width: 0)";
$mir-tablet-breakpoint: "(min-width: 769px)";
$mir-desktop-breakpoint: "(min-width: 1025px)";
$mir-large-display-breakpoint: "(min-width: 1440px)";

$fonts: "Montserrat", sans-serif;
$primary-color: #007b3e;
$spacing: 2rem;
$dark-grey: #999;
$white: #fff;
$light: #f8f8f8;
$dark: #2f2f2f;
